<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    div#app { padding: 20px; margin: 30px auto; max-width: 600px;height: 300px;
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa; }
    label { font-size: 20pt; }
    input[type=radio] { width: 20px; height: 20px; }
    div#hello { margin: 30px; padding: 50px; 
      background-color: #00ff9d; border: 1px solid gray; 
      text-align: center; font-size: 20pt; }
    b {font-size:30px;}
  </style>
</head>
<body>
  <div id="app" v-bind:style="{ backgroundColor: color(value) }">
    <label>
      <input type="radio" value="man" v-model=value v-on:click="color" />
      남자
    </label>
    <label>
      <input type="radio" value="girl" v-model=value v-on:click="color" />
      여자
    </label>
    <br>
    <b>{{ sex }}

  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        value: "default",
        sex: ""
      },
      methods: {
        color() {
          const a = ["#eeeeff", "#ffeeee", "#ffff"];
          switch(this.value){
              case "man":
                  this.sex = "남자";
                  return a[0];
                  break;
              case "girl":
                  this.sex = "여자";
                  return a[1];
                  break;
              default:
                  return a[2];
          }
        },
      }
    })
   </script>
</body>
</html>
